<style>
    footer {
        background-color: #272727; /* Koyu asil mavi */
        color: white;
        padding: 20px;
        text-align: center;
        background: linear-gradient(135deg, #0b0d24,
        /* Koyu mavi - gece gökyüzü */
        #171e5e 40%,
        /* Mor tonlar */
        #0f0c29 100%);
        font-size: 14px;
        margin-top: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

        footer a {
            color: #A9D6E5; /* Açık mavi ton */
            text-decoration: none;
            transition: color 0.3s;
        }

            footer a:hover {
                color: white;
            }
</style>

<footer>
    <p>Bu proje, Yazılım Tasarımı ve Mimarisi dersi kapsamında 3. sınıf web geliştirme projesi olarak geliştirilmiştir.
    <p>&copy; @DateTime.Now.Year FeeeT. Tüm hakları saklıdır.</p>
</footer>